{% extends "base2.html" %}
{% load static %}
{% block content %}
{% include "utils/navbar.html" %}
<div class="row card">
    <form action="/add_block_doc/" method="POST" class="col s12" enctype="multipart/form-data">
        {% csrf_token %}
        <h4> Add Document</h4>

        <div class="row">
            <div class="col s12">
                <h6>1: User Details.</h6><br>
                <hr>
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">person_outline</i>
                        <input type="text" name="sirname">
                        <label for="id_lecturer_sirname">Sirname</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">person_outline</i>
                        <input type="text" name="othername">

                        <label for="id_other_name">Other Names</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">mail</i>
                        <input type="text" name="email_address">

                        <label for="id_email">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">dialpad</i>
                        <input type="text" name="id_number">
                        <label for="id_lecturer_sirname">Id Number</label>
                    </div>

                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">fingerprint</i>
                        <input type="text" name="kra_pin">
                        <label for="id_lecturer_sirname">KRA PIN</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">dialpad</i>
                        <input type="text" name="huduma_number">
                        <label for="id_lecturer_sirname">Huduma Number</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h6>2: Accademic Details.</h6><br>
                <hr>
                <div class="row">
                    
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">location_city</i>
                        <select name="institution_id">
                            <option value="" disabled selected>Select University</option>

                            
                            {% for institution in qs %}
                                <option value="{{institution.id}}">{{institution}}</option>
                            {% endfor %}
                          </select>
                          <label>Select University</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">perm_contact_calendar</i>
                        <input type="text" name="date_of_graduation" class="datepicker">

                        <label for="id_tel">Date Of graduation</label>
                    </div>
                    <div class="input-field col s12 l4">
                        <i class="material-icons prefix">receipt</i>
                        <input type="text" name="course">
                        <label for="id_user_id_or_pe_nember">Course</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h6>3: Accademic Paper Upload.</h6><br>
                <hr>
                <div class="row p3">
                    <div class="file-field input-field col s12 l4">
                        <div class="btn" style="padding: 20px;">
                            <span style="margin-left: -50px;">
                                <i class="material-icons prefix black-text">attachment</i>
                            </span>
                            <input type="file" name="file_url">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h6>4: Student Profile Picture.</h6><br>
                <hr>
                <div class="row p3">
                    <div class="file-field input-field col s12 l4">
                        <div class="btn" style="padding: 20px;">
                            <span style="margin-left: -50px;">
                                <i class="material-icons prefix black-text">attachment</i>
                            </span>
                            <input type="file" name="profile_url">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col s12 center">
            <button type="submit" class="btn btn-primary submit-btn btn-block right">submit</button>
        </div>
    </form>
</div>
{% endblock %}